In [3]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re

In [4]:
driver=webdriver.Edge("msedgedriver.exe")   
driver.get("https://www.tripodeal.com/results")

In [5]:
driver.find_element_by_xpath('//*[@id="origin"]').click()

In [7]:
driver.find_element_by_xpath('//*[@id="origin"]').send_keys("MAA Madras India")

In [8]:
driver.find_element_by_xpath('//*[@id="destination"]').click()

In [9]:
driver.find_element_by_xpath('//*[@id="destination"]').send_keys("DEL New Delhi India")

In [133]:
airline_=[]
date_of_journey=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

In [134]:

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)

In [135]:
len(airline_)

30

In [136]:
source=[]
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)

In [137]:
len(source)

30

In [138]:
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)

In [139]:
len(destination)

30

In [140]:
for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)

In [141]:
len(no_of_stops)

30

In [142]:
for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)

In [143]:
len(duration)

30

In [144]:
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)

In [145]:
len(dept_time)

30

In [146]:
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)

In [147]:
len(arrival_time)

30

In [149]:
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [150]:
len(price)

30

In [ ]:
date=[]
x=1
while x<31:
    p=print("24 oct")
    date.append(p)
    x=x+1

In [176]:
date=[]
for i in range(31):
    date.append("24 oct")

In [177]:
len(date)

31

In [ ]:
airline_=[]
date_of_journey=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

In [178]:
d1=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date[:30],'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [179]:
d1

,Airline_,Date of Journey,Source,Destination,No of stops,Duration,Departure time,Arrival time,Price
0,Spice Jet,24 oct,MAA,DEL,Non Stop,02h 50m,20:00,22:50,₹5858
1,Indigo Air,24 oct,MAA,DEL,Non Stop,03h 10m,21:50,01:00,₹5937
2,Spice Jet,24 oct,MAA,DEL,1 Stop,05h 30m,19:50,01:20,₹6290
3,Air Asia,24 oct,MAA,DEL,1 Stop,15h 25m,22:40,14:05,₹6853
4,Vistara,24 oct,MAA,DEL,Non Stop,02h 50m,21:05,23:55,₹7286
5,Spice Jet,24 oct,MAA,DEL,1 Stop,13h 15m,19:50,09:05,₹8172
6,Air Asia,24 oct,MAA,DEL,1 Stop,13h 50m,21:05,10:55,₹8440
7,Air Asia,24 oct,MAA,DEL,2 Stop,12h 50m,21:05,09:55,₹10588
8,Vistara,24 oct,MAA,DEL,1 Stop,25h 50m,21:10,23:00,₹14190
9,Vistara,24 oct,MAA,DEL,1 Stop,27h 00m,21:10,00:10,₹14190
10,Vistara,24 oct,MAA,DEL,1 Stop,27h 45m,21:10,00:55,₹14190
11,Vistara,24 oct,MAA,DEL,1 Stop,22h 30m,21:10,19:40,₹14326
12,Vistara,24 oct,MAA,DEL,1 Stop,23h 30m,21:10,20:40,₹14326
13,Vistara,24 oct,MAA,DEL,1 Stop,24h 45m,21:10,21:55,₹14326
14,Vistara,24 oct,MAA,DEL,1 Stop,19h 45m,21:10,16:55,₹14788
15,Vistara,24 oct,MAA,DEL,1 Stop,20h 55m,21:10,18:05,₹14788
16,Vistara,24 oct,MAA,DEL,1 Stop,16h 55m,21:10,14:05,₹15733
17,Vistara,24 oct,MAA,DEL,1 Stop,15h 30m,21:10,12:40,₹16258
18,Vistara,24 oct,MAA,DEL,2 Stop,25h 40m,21:10,22:50,₹19303
19,Vistara,24 oct,MAA,DEL,2 Stop,23h 00m,21:10,20:10,₹19408
20,Vistara,24 oct,MAA,DEL,2 Stop,22h 45m,21:10,19:55,₹20616
21,Vistara,24 oct,MAA,DEL,2 Stop,25h 40m,21:10,22:50,₹20826
22,Vistara,24 oct,MAA,DEL,2 Stop,15h 20m,21:10,12:30,₹20931
23,Vistara,24 oct,MAA,DEL,2 Stop,23h 00m,21:10,20:10,₹20931
24,Vistara,24 oct,MAA,DEL,1 Stop,12h 30m,21:10,09:40,₹21508
25,Vistara,24 oct,MAA,DEL,2 Stop,19h 20m,21:10,16:30,₹21981
26,Vistara,24 oct,MAA,DEL,2 Stop,17h 00m,21:10,14:10,₹22821
27,Vistara,24 oct,MAA,DEL,2 Stop,17h 00m,21:10,14:10,₹24081
28,Vistara,24 oct,MAA,DEL,1 Stop,13h 50m,21:10,11:00,₹24448
29,Vistara,24 oct,MAA,DEL,2 Stop,19h 35m,21:10,16:45,₹24553

In [180]:
file_name = '24 oct.xlsx'
d1.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [184]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [188]:
date=[]
for i in range(77):
    date.append("25 oct")

In [189]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

77 77 77 77 77 77 77 77 77

In [190]:
d2=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [191]:
file_name = '25 oct.xlsx'
d2.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [193]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[2]/a/div[1]').click()

In [196]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [197]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

114 0 114 114 114 114 114 114 114

In [198]:
date=[]
for i in range(114):
    date.append("26 oct")

In [199]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

114 114 114 114 114 114 114 114 114

In [200]:
d3=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [201]:
file_name = '26 oct.xlsx'
d3.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [202]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[3]/a/div[1]').click()

In [205]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [206]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

120 0 120 120 120 120 120 120 120

In [207]:
date=[]
for i in range(120):
    date.append("27 oct")

In [208]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

120 120 120 120 120 120 120 120 120

In [209]:
d4=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [210]:
file_name = '27 oct.xlsx'    
d4.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [220]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[4]/a/div[1]').click()

In [221]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [222]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

130 0 130 130 130 130 130 130 130

In [223]:
date=[]
for i in range(130):
    date.append("29 oct")

In [224]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

130 130 130 130 130 130 130 130 130

In [225]:
d6=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [226]:
d6

,Airline_,Date of Journey,Source,Destination,No of stops,Duration,Departure time,Arrival time,Price
0,Spice Jet,29 oct,MAA,DEL,1 Stop,24h 05m,14:15,14:20,₹7381
1,Spice Jet,29 oct,MAA,DEL,1 Stop,04h 45m,06:10,10:55,₹7493
2,Indigo Air,29 oct,MAA,DEL,1 Stop,05h 00m,15:50,20:50,₹7752
3,Indigo Air,29 oct,MAA,DEL,1 Stop,06h 05m,15:50,21:55,₹7752
4,Indigo Air,29 oct,MAA,DEL,1 Stop,06h 35m,12:20,18:55,₹7752
...,...,...,...,...,...,...,...,...,...
125,Air India,29 oct,MAA,DEL,1 Stop,07h 25m,08:40,16:05,₹23713
126,Air India,29 oct,MAA,DEL,1 Stop,11h 55m,08:40,20:35,₹23713
127,Air India,29 oct,MAA,DEL,1 Stop,06h 05m,07:00,13:05,₹23927
128,Vistara,29 oct,MAA,DEL,2 Stop,12h 35m,09:50,22:25,₹27086
129,Vistara,29 oct,MAA,DEL,2 Stop,31h 15m,09:50,17:05,₹29526

In [227]:
file_name = '29 oct.xlsx'    
d6.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [244]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[6]/a/div[1]').click()

In [245]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [247]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

159 0 159 159 159 159 159 159 159

In [248]:
date=[]
for i in range(159):
    date.append("31 oct")

In [249]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

159 159 159 159 159 159 159 159 159

In [250]:
d7=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [251]:
file_name = '31 oct.xlsx'    
d7.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [252]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[7]/a/div[1]').click()

In [253]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [254]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

151 0 151 151 151 151 151 151 151

In [255]:
date=[]
for i in range(151):
    date.append("3 nov")

In [256]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

151 151 151 151 151 151 151 151 151

In [257]:
d8=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [258]:
file_name = '3 nov.xlsx'    
d8.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [259]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[6]/a/div[1]').click()

In [261]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [262]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

145 0 145 145 145 145 145 145 145

In [263]:
date=[]
for i in range(145):
    date.append("5 nov")

In [264]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

145 145 145 145 145 145 145 145 145

In [265]:
d9=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [266]:
file_name = '5 nov.xlsx'    
d9.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [267]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[6]/a/div[1]').click()

In [269]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [270]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

150 0 150 150 150 150 150 150 150

In [271]:
date=[]
for i in range(150):
    date.append("7 nov")

In [272]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

150 150 150 150 150 150 150 150 150

In [273]:
d10=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [274]:
file_name = '7 nov.xlsx'    
d10.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [297]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[2]/a/div[1]').click()

In [298]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [299]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

158 0 158 158 158 158 158 158 158

In [300]:
date=[]
for i in range(158):
    date.append("9 nov")

In [301]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

158 158 158 158 158 158 158 158 158

In [302]:
d11=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [303]:
file_name = '9 nov.xlsx'    
d11.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [286]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[2]/a/div[1]').click()

In [287]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [288]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

160 0 160 160 160 160 160 160 160

In [289]:
date=[]
for i in range(160):
    date.append("11 nov")

In [290]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

160 160 160 160 160 160 160 160 160

In [293]:
date=[]
for i in range(160):
    date.append("11 nov")

In [294]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

160 160 160 160 160 160 160 160 160

In [295]:
d12=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [296]:
file_name = '11 nov.xlsx'    
d12.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [304]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[12]/a/div[1]').click()

In [305]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [306]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

154 0 154 154 154 154 154 154 154

In [307]:
date=[]
for i in range(154):
    date.append("17 nov")

In [308]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

154 154 154 154 154 154 154 154 154

In [309]:
d13=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [310]:
file_name = '17 nov.xlsx'    
d13.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [311]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[13]/a/div[1]').click()

In [312]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [313]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

148 0 148 148 148 148 148 148 148

In [314]:
date=[]
for i in range(148):
    date.append("26 nov")

In [315]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

148 148 148 148 148 148 148 148 148

In [316]:
d14=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [318]:
file_name = '26 nov.xlsx'    
d14.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.

In [319]:
driver.find_element_by_xpath('//*[@id="matrix_nav"]/div[2]/div/nav/div/div[1]/div/div[15]/a/div[1]').click()

In [320]:
airline_=[]
date=[]
source=[]
destination=[]
no_of_stops=[]
duration=[]
dept_time=[]
arrival_time=[]
price=[]

for i in driver.find_elements_by_xpath('//div[@class="col-2 col-md-2"]/span[2]'):
    airline_.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[1]'):
    source.append(i.text)    
    

for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[2]'):
    destination.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[3]'):
    no_of_stops.append(i.text)
    

for i in driver.find_elements_by_xpath('//*[@class="col-field stops ml-auto mr-auto"]/div[1]'):
    duration.append(i.text)
    

for i in driver.find_elements_by_xpath('//div[@class="col-field time depart"]/span[2]'):
    dept_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@class="col-field time return"]/span[1]'):
    arrival_time.append(i.text)
    
    
for i in driver.find_elements_by_xpath('//*[@id="flight_nav"]/div/div[1]/div[1]/div/div/div/div[1]/h5/span[1]'):
    price.append(i.text)

In [321]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

160 0 160 160 160 160 160 160 160

In [322]:
date=[]
for i in range(160):
    date.append("7 dec")

In [323]:
print(len(airline_),len(date),len(source),len(destination),len(no_of_stops),len(duration),len(dept_time),len(arrival_time),len(price))

160 160 160 160 160 160 160 160 160

In [324]:
d15=pd.DataFrame({'Airline_':airline_, 'Date of Journey':date,'Source':source,'Destination':destination, 'No of stops ':no_of_stops,'Duration':duration,'Departure time':dept_time,'Arrival time':arrival_time,'Price':price})

In [325]:
file_name = '7 dec.xlsx'    
d15.to_excel(file_name)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.